@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #091e42;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: unset;
}

input {
  all: unset;
}

.visible {
  display: none !important;
}

.about-myself {
  padding: 139px 139px;
}

.work-section {
  margin: 139px 139px;
}

/* @media screen and (max-width: 1100px) {
  .work-section {
    margin: 140px 79px;
  }
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo-container {
  flex: 1;
  margin-left: 60px;
}

.logo-container img {
  width: 75px;
  height: 21px;
}

.open {
  display: none;
}

.menu-mobile {
  position: fixed;
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(7px);
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-mobile img {
  margin-top: 52px;
  margin-right: 36px;
  width: 23px;
  height: 23px;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 11px 27px;
  gap: 20px;
}

.m-nav-links {
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 3;
}

.nav-container {
  flex: 0.4;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-right: 2rem;
}

.nav-link {
  display: inline-block;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7f8cff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.intro {
  background-color: #fff;
  background-image: url('./images/desktop.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  align-items: flex-start;
  padding: 40px 8px 76px 34px;
  border-bottom-left-radius: 108px;
}

.demo-container {
  padding: 200px 180px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.demo-container h1 {
  font-weight: bold;
  font-size: 38px;
  line-height: 58px;
  margin-top: 65px;
}

.demo-container p {
  font-size: 18px;
  line-height: 23px;
  color: #2e3d57;
}

.connect-link {
  line-height: 30px;
  color: #7f8cff;
  font-size: 16px;
  max-width: 123px;
}

.ul-soscial-link {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  min-width: 165px;
  max-width: 200px;
}

@media screen and (max-width: 550px) {
  header {
    padding: 33px 33px;
  }

  .menu-mobile {
    display: flex;
  }

  .menu-mobile img {
    width: 33px;
  }

  .nav-container {
    display: none;
  }

  .logo-container {
    margin-left: 2px;
  }

  .demo-container {
    padding: 114px 24px;
  }

  .open {
    display: block;
  }
}

.my-work {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #091e42;
  margin-bottom: 58px;
}

.work-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  row-gap: 142px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  position: relative;
  box-shadow: 1px 50px 50px #252f8900;
  border: 1px solid #dfe1e6;
}

.card::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 26px;
  box-shadow: 1px 50px 50px #252f8914;
  opacity: 0;
  transition: opacity 505ms;
}

.card:hover::before {
  opacity: 1;
  border: 2px solid #a7aeff;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.introduction {
  background-image: url('./images/deskto.png');
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-origin: content-box;
  margin-top: 30px;
  border-bottom-left-radius: 10px;
}

.card-img {
  margin: 21px 19px;
}

.card-img img {
  width: 544px;
  height: 446px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  padding: 46px 22px;
}

.card-content h3 {
  font-weight: bold;
  font-size: 38px;
  line-height: 51px;
  color: #0c2043;
}

.card-org {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  margin-top: 18px;
}

.card-org h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.ul-position-year {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 23px;
}

.ul-position-year > li {
  font-size: 18px;
  line-height: 27px;
  color: #737e91;
}

.card-content p {
  font-size: 16px;
  line-height: 24px;
  color: #2e3d57;
  margin-top: 32px;
}

.card-con-ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin: 22px 0;
}

.button-containner a {
  align-items: center;
  padding: 9px 11px;
  justify-content: center;
  width: max-content;
  display: inline-flex;
  gap: 5px;
}

.card-con-ul li > a {
  padding: 3px 11px;
  background: #ebebff;
  border-radius: 7px;
  color: #5d6dfa;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
}

.get-btn {
  padding: 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #5d6dfa;
  border-radius: 7px;
  background-color: transparent;
  position: relative;
  box-shadow: 1px 7px 15px #4053fc00;
}

.get-btn:hover {
  color: #fff !important;
  background-color: #4456f9;
  box-shadow: 1px 7px 15px #4053fc3d;
  transition: 0.3s;
}

.image__right {
  order: 2;
}

@media screen and (max-width: 992px) {
  .my-work {
    font-size: 40px;
    margin-bottom: 64px;
  }

  .card-img img {
    width: 398px;
    height: 338px;
  }
}

@media screen and (max-width: 550px) {
  .my-work {
    font-size: 40px;
    margin-bottom: 48px;
  }

  .work-container {
    row-gap: 112px;
  }

  .card-container {
    flex-direction: column;
  }

  .card-img {
    margin: 17px 17px 1px 15px;
  }

  .card-img img {
    width: 300px;
    height: 223px;
  }

  .card-content {
    margin: 10px 15px 15px 15px;
    padding: 0;
  }

  .image__right {
    order: 0;
  }

  .card-content button {
    margin-bottom: 12px;
  }
}

.about-section {
  display: flex;
  column-gap: 10px;
  padding-bottom: 160px;
  margin-top: 5px;
  background-color: #fff;
  border-top-right-radius: 126px;
}

.about-me-container {
  display: flex;
  width: 482px;
  row-gap: 16px;
  flex-direction: column;
}

.about-me-container h2 {
  font-size: 40px;
  line-height: 52px;
}

.about-me-container p {
  font-size: 16px;
}

.skills-container {
  width: 799px;
}

.li-skills-items {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  align-items: center;
  color: #000;
  margin: 14px 0;
  padding: 20px 0;
  border-bottom: 1px solid #dfe1e6;
}

.ul-skills-container {
  list-style: none;
  margin: 26px 0;
  padding: 9px 2px;
}

.live {
  padding: 2px 3px;
  border: none;
}

.icon {
  font-style: normal;
  float: right;
  font-weight: normal;
  width: 14px;
}

.ul-languages-skills {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  column-gap: 14px;
  padding: 28px 6px;
  list-style: none;
}

.ul-languages-skills > li {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px 12px 12px 12px;
}

.popup-header-up img {
  cursor: pointer;
}

.popup-img img {
  width: 100%;
  max-height: 586px;
  max-width: 850px;
  margin: 28px 0;
  padding: 0;
  border-radius: 8px;
  height: 100%;
}

.ul-languages-skills li > img {
  width: 50px;
  height: 50px;
}

.ul-languages-skills > li > a {
  font-style: normal;
  font-size: 16px;
}

.about-me-container button {
  max-width: 182px;
}

@media screen and (max-width: 1100px) {
  .about-myself {
    padding: 105px 100px;
  }
}

@media screen and (max-width: 992px) {
  .about-myself {
    padding: 86px 62px;
  }
}

@media only screen and (max-width: 550px) {
  .about-section {
    flex-direction: column;
  }

  .about-me-container {
    max-width: 280px;
  }

  .skills-container {
    max-width: 300px;
  }

  .ul-languages-skills {
    display: flex;
    gap: 14px;
    flex-direction: column;
  }

  .ul-languages-skills > li {
    flex-direction: row;
    gap: 14px;
    align-items: center;
  }
}

.footer {
  padding: 80px 78px 50px 78px;
  border-top-left-radius: 125px;
  background: url('./images/cfbd.png') no-repeat;
  background-size: 98% 75%;
  background-origin: content-box;
  background-color: #5f6efb;
  margin-top: -100px;
}

.div-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.div-footer h3 {
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 38px;
}

.div-footer p {
  text-align: center;
  color: #ebebff;
  width: 569px;
  font-size: 20px;
  line-height: 28px;
}

.contact-form {
  width: 801px;
  min-width: 330px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contact-form small {
  color: #781b24;
  padding: 12px;
  margin-bottom: 16px;
  background-color: #f8d7da;
}

.contact-form input[type='text'],
input[type='email'] {
  background-color: #fff;
  padding: 15px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 418px;
}

.contact-form input[type='text']::placeholder,
input[type='email']::placeholder {
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: #172b4d;
}

.contact-form textarea {
  outline: none;
  min-height: 182px;
  padding: 18px;
  font-size: 16px;
  line-height: 20px;
  color: #172b4d;
  width: 447px;
}

.contact-form textarea::placeholder {
  font-size: 18px;
  line-height: 22px;
  color: #737e91;
}

.contact-form button {
  background-color: #fff;
  padding: 12px 16px;
  font-size: 18px;
  line-height: 24px;
  color: #5b6bf9;
  align-items: center;
  border-radius: 8px;
  margin: 0 auto;
}

.contact-form button:hover {
  background-color: #5b6bf9;
  box-shadow: 0 10px 18px #4053fc3d;
  color: #fff;
  transition: 0.3s;
}

.contact-form button:focus {
  background-color: #2230d2;
  box-shadow: 0 11px 20px #4053fc3d;
  color: #fff;
}

@media screen and (max-width: 550px) {
  .footer {
    background: url('./images/cfbg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 18px 0 50px 0;
    background-color: #5d6dfd;
    margin-top: -100px;
  }

  .div-footer {
    margin: 100px 24px 0 24px;
  }

  .div-footer p {
    width: 100%;
  }

  .contact-form {
    width: 100%;
    align-items: start;
  }

  .contact-form input[type='text'],
  input[type='email'] {
    border-radius: 8px;
    width: 250px;
  }

  .contact-form textarea {
    border-radius: 8px;
    width: 280px;
  }
}

.div-l-container {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  padding: 38px 0;
  position: fixed;
  z-index: 2;
  background-color: #55677998;
  backdrop-filter: blur(10px);
  top: 0;
}

.popup {
  padding: 24px 24px;
  max-width: 75%;
  background-color: #fff;
  border-radius: 18px;
  margin: 0 auto;
}

.popup-header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-title {
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  line-height: 50px;
  color: #0c2043;
}

.popup-content {
  display: flex;
  gap: 26px;
  justify-content: flex-start;
  margin-top: 10px;
}

.popup-img {
  padding: 0;
  margin: 0;
}

.popup-container {
  display: flex;
  gap: 22px;
}

.popup-description p {
  font-size: 14px;
  line-height: 28px;
  color: #33435e;
}

.popup-description-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.popup-list {
  padding: 0;
  margin: 0;
}

.popup-list ul {
  margin: 0;
}

.deploy {
  height: 3px;
  background: #ebecf0;
}

.button-containner {
  display: inline-flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.see-live {
  content: url('./images/live.svg');
  margin: 7px 15px;
}

.see-source {
  content: url('./images/gitlive.svg');
  margin: 7px 15px;
}

@media screen and (max-width: 550px) {
  .popup-container {
    flex-direction: column;
  }

  .button-containner a {
    font-size: 14px;
    gap: 0;
    padding: 11px;
  }
}
